body{
     color:blueviolet;
     background:black;
     margin:0px;
}

header{
border-bottom: solid 2px rgb(red, green, blue);
padding: 20px;
font-size: 32px;
color: rgb(red, green, blue);
}
section{
background: white;
padding-bottom: 80px;
padding-top: 80px;

}


















